/**
 * Site header
 */
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  @include media-query($on-laptop) {
     font-size: 40px;
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-laptop) {
     font-size: 48px;
  }
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    .page-link {
      padding: 20px 0;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(0.8);
  @include media-query($on-laptop) {
     font-size: 40px * 0.8;
  }
  margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  @include media-query($on-laptop) {
     font-size: 40px * 0.9375;
  }
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float :right;
  margin-bottom: $spacing-unit / 2;
  margin-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  @include media-query($on-laptop) {
     font-size: 28px;
  }
}

.page-heading {
  @include relative-font-size(2);
  text-decoration: underline;
  @include media-query($on-laptop) {
       font-size: 40px;
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  .post-link:hover {
    text-decoration: none;
  }

  > li {
    margin-bottom: $spacing-unit * 2;

    &:not(:first-child) {
      border-top: 4px solid $grey-color-light;
      padding-top: $spacing-unit * 2;
    }
  }
}

.post-archives {
  margin-left: 0;
  list-style: none;

  .post-link {
    font-size: 24px;
    @include media-query($on-laptop) {
      font-size: 32px;
    }
  }

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  @include media-query($on-laptop) {
     font-size: 28px;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  @include media-query($on-laptop) {
     font-size: 40px;
  }

  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $brand-color;
  }
}

.post-continue {
  a {
    padding: 8px 15px;
    text-decoration: none;

    &,
    &:visited {
      color: $grey-color;
      background-color: $grey-color-light;
    }

    &:hover {
      color: white;
      background-color: $brand-color;
    }
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  @include media-query($on-laptop) {
     font-size: 40px * 0.8;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 58px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 30px;
    text-decoration: underline;

    @include media-query($on-laptop) {
      font-size: 60px;
    }
    @include media-query($on-mobile) {
      font-size: 60px;
    }
  }

  h2 {
    font-size: 24px;
    text-decoration: underline;

    @include media-query($on-laptop) {
      font-size: 52px;
    }
  }

  h3 {
    font-size: 18px;

    @include media-query($on-laptop) {
      font-size: 40px;
    }
  }

  h4 {
    font-size: 15px;

    @include media-query($on-laptop) {
      font-size: 38px;
    }
  }

  @include media-query($on-laptop) {
     font-size: 30px;
  }
}



/**
 * Pagination
 */
.pagination {
  padding: $spacing-unit / 2 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  text-align: center;
  @extend %clearfix;

  a {
    &,
    &:visited {
      color: $grey-color;
    }

    &:hover {
      color: $brand-color;
    }
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}
