---
layout: default
---
<div class="home">

  <h1 class="page-heading"> Archive of {{ page.type }} '{{page.title | escape }}'</h1>

  {% capture site_lang %}{{ site.lang | default: "jp" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in page.posts %}
      {% capture site_lang %}{{ site.lang | default: "jp" }}{% endcapture %}

      <li>
	<span class="post-meta">
	  {{ post.date | date: "%Y/%m/%d" }}
	  {% if post.tags != empty %}
	    {% include tags.html tags=post.tags %}
	  {% endif %}
	</span>

	<h2>
	  <a class="post-link" href="{{ post.url | relative_url }}" lang="jp">{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a>
	</h2>
      </li>
    {% endfor %}
  </ul>

</div>
